.btn,
.outline {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
}

.btn {
  color: var(--petrol-green);
  background: var(--highlight-green);
  border: none;
}

.outline {
  color: var(--highlight-green);
  background: transparent;
  border: 1px solid var(--highlight-green);
  text-decoration: none;
}

.outline:hover,
.btn:hover {
  opacity: 0.6;
}
