.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body {
  color: var(--typography-color);
}

.h1 {
  font-weight: 600;
  font-size: 31px;
  line-height: 150%;
  margin: 0;
}

.h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  margin: 0;
}

.h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 0.625rem 0;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0.5rem 0;
}

.h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0.5rem 0;
}

.body {
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  margin: 0;
}
